body {
  margin: 0;
  padding: 0;
  background: #000;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* дозволяє вертикальний скрол */
}

.fullscreen-img {
  display: block;
  width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: 1;
}